body{
	color: blue;
	background-image: url("http://images3.alphacoders.com/125/125087.jpg");
	background-color: black;
	padding: 15px;
}

table{
	border: dashed;
	color: red;
<<<<<<< HEAD

=======
}

#huck{
	text-align: right;
}

.page_link{
	padding-top: 50px;
}

img{
	border: solid;
	height: 350px;
	width: 350px;
}

.jumbotron{
	background-image: url("http://teddybearmalinois.com/clipart/pageHeaders/astronomyDarkBlueWithStarsr.jpg");
	opacity: 0.4;
}

 h1{
	color:white;
}

.title{
	color:white;
}

.welcome_note{
	font-color: white;
}

#bio,#hobbies,#contact_info{
	color: orange;
	font-family: Arnoldboecklin, fantasy;
}


.my_bio{
	border: solid;
}

.footer{
	width: 30%;
	margin: 0 auto;
}

h1{
	text-align: center;
>>>>>>> origin/NandosChanges
}