body{
	color: blue;
	background-image: url("http://images3.alphacoders.com/125/125087.jpg");
	background-color: black;
	padding: 15px;
}

table{
	border: dashed;
<<<<<<< HEAD

=======
}

#huck{
	text-align: right;
}

.page_link{
	padding-top: 50px;
}

img{
	border: solid;
	height: 350px;
	width: 350px;
}

#bio{
	color: orange;
}

#hobbies{
	color: red;
}

#why{
	color: green;
}

td{
	color: red;
}
h1{
	text-align: center;
>>>>>>> origin/NandosChanges
}