body{
	color: blue;
	background-color: black;
	padding: 15px;
}

table{
	border: dashed;
}

#huck{
	text-align: right;
}

img{
	border: solid;
}

#bio{
	color: orange;
}

#hobbies{
	color: red;
}

#why{
	color: green;
}

h1{
	text-align: center;
}